.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-box {
  background: rgba(255, 255, 255, 0.85);
  padding: 25px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.loading-box p {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

/* Loader animasi bulat */
.loader {
  width: 35px;
  height: 35px;
  border: 4px solid #cccccc;
  border-top: 4px solid #4f46e5;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
